<!doctype html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="src/assets/css/normalize.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="src/assets/js/vendor/prism/prism.css">

        <link rel="stylesheet" href="src/assets/css/main.css">

        <script src="src/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <main class="clearfix">
            <nav>
                <ul>
                    <li>
                        <a href=""><i class="fa fa-bars"></i></a>
                    </li>

                    <li>
                        <a href="http://localhost/file_browser"><i class="fa fa-home"></i></a>
                    </li>

                    <li>
                        <a id="upload"><i class="fa fa-upload"></i></a>
                    </li>

                    <li>
                        <a id="new-folder"><i class="fa fa-folder"></i></a>
                    </li>

                    <li>
                        <a><i class="fa fa-music"></i></a>
                    </li>
                </ul>
            </nav>
{# ********************************************************* 
                    LISTING DOSSIER
********************************************************* #}
            <section class="dossier-principal">
                <h2></h2>

                <ul>
                    <li>{{actualDir}}</li>
                    <ul>
                    {% for file in filesDirectory %}
                        {% if file.type == 'directory' %}
                        <li>
                            <i class="fa fa-level-up reverse"></i>
                            {% include 'icone.html.twig' %}
                            <a href="?tree={{chemin ~ file.name}}">
                                {{file.name}}
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                </ul>
            </section>

{# ********************************************************* 
                    LISTING FICHIER
********************************************************* #}
            <section class="contenu-dossier">

                {# **************************************
                                FLASHBAG 
                *************************************** #}
                {% if msgInfo %}
                    <div class="information">
                        {% for msg in msgInfo %}
                            <p>{{ msg }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if msgAlert %}
                    <div class="error">
                        {% for msg in msgAlert %}
                            <p>{{ msg }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                {# **************************************
                                FLASHBAG 
                *************************************** #}
                <h2>{{pathTree}}</h2>

                <ul>
                    {% for file in filesDirectory %}
                        <li class="line-file">
                            {% if file.name == '..' %}
                                <a class="droppable" href="?tree={{parentPath}}" title="{{file.type}}" class="clearfix" data-url="{{chemin ~ file.name}}" data-file-name="{{file.name}}">
                            {% else %}

                                {% if file.type == 'directory' %}
                                 <a class="draggable droppable" href="?tree={{chemin ~ file.name}}" title="{{file.type}}" class="clearfix" data-url="{{chemin ~ file.name}}" data-file-name="{{file.name}}">
                                {% else %}

                                 <a class="draggable" href="" title="{{file.type}}" class="clearfix" data-link-file data-file="?file={{chemin ~ file.name}}" data-url="{{chemin ~ file.name}}" data-file-name="{{file.name}}">
                                {% endif %}

                            {% endif %}
                               
                                    {% include 'icone.html.twig' %}
                                    {{file.name}}
                                </a>

                                <ul class="file-info clearfix">
                                {% if file.name != '..' %}
                                 <li>
                                    <button class="delete-file" data-url="{{chemin ~ file.name}}">
                                        <i class="fa fa-trash-o"></i>
                                    </button>{# 
                                    <a class="delete-file" href="" data-url="{{chemin ~ file.name}}"><i class="fa fa-trash-o"></i></a> #}</li>
                                    <li>{{file.time}}</li>
                                    <li>{{file.size}}</li>
                                {% endif %}
                                </ul>
                        </li>
                    {% endfor %}
                </ul>                
            </section>
        </main>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="src/assets/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="src/assets/js/vendor/jqueryUi/jquery-ui.min.js"></script>

<script src="src/assets/js/vendor/prism/prism.js"></script>




        <script src="src/assets/js/open_file.js"></script>
        <script src="src/assets/js/main.js"></script>
    </body>
</html>
